.news {
  background-color: white;
  margin: 100px 0;
  .news__header {
    background-color: #109be9;
    padding: 40px 30px;
    color: white;
    border-radius: 6px;
    margin-bottom: 20px;

    &__date {
      font-size: 14px;
      margin-bottom: 12px;
      opacity: 0.9;
    }

    &__title {
      font-family: Mulish;
      font-weight: 700;
      font-size: 62px;
      line-height: 120%;
      letter-spacing: 0.3%;
      width: 712px;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    .circle {
      width: 14px;
      height: 14px;
      background-color: white;
      border-radius: 50%;
    }
  }

  &__body {
    font-size: 16px;
    color: #333;
    line-height: 1.7;
    p {
      margin-bottom: 18px;
    }
  }
}
